@CHARSET "UTF-8";

.content-contact-imprint {
	/* background-color: #4627C3; */
	width: 100% !important;
/* 	background: linear-gradient(rgba(70, 39, 195, 1), rgba(70, 39, 195, .9)),
		url(../images/bonevo-home/bonevo-background-home.jpg);
	background-repeat: no-repeat;
	background-position: center bottom; */
	min-heigh : 100%;
	padding: 0;
}

.content-contact-imprint * {
	color: #323232;
	font-family: 'Nunito', sans-serif;
}

.content-contact-imprint div {
	margin-bottom: 40px;
}

.content-contact-imprint div.half-div {
	display: inline-block;
	width: 50%;
	float: left;
}

.content-contact-imprint .text-imprint {
	width: 100%;
	text-align: center;
}

.content-contact-imprint .content-imprint {
	display: table;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 60px;
	width: 540px;
}

.content-contact-imprint .content-imprint .title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700
}

.content-contact-imprint p.title-text {
	font-size: 18px;
	font-weight: bold;
}

.content-contact-imprint p.info-text {
	font-size: 16px;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	480px) {
	.content-contact-imprint div.half-div {
		width: 100%;
	}
	.content-contact-imprint .content-imprint{
	width: auto;
	}
	.content-contact-imprint p {
		text-align: center;
	}
}