<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>Bonevo 's topic</title>
</head>
<body style="float: left;margin: 30px auto;width: 666px;background: #fff;">
	<div style="text-align: left;width: 656px;display: block;margin: 0px auto;">
		<!-- MAIN -->
		<div style="width: 656px;display: block;border: 1px solid #ccc;">
			<!-- HEADER -->
			<div style="display: block;background: #f2f2f2;padding: 10px 0px 10px 24px;">
				<p style="float: left;width: 56px;height: 56px;border-radius: 50%;margin: 0px 15px 0px 0px;">
					<img style='margin:6px 3px 3px;' src='https://bonevo.net/html/images/bonevo.png' />
				</p>
				<h4 style="font-size: 18px;color: #333333;font-family: 'Roboto', sans-serif;font-weight: normal;display: inline-block;line-height: 56px;margin: 0px;">
					Bạn đã đăng ký tài khoản BONEVO thành công!
				</h4>
			</div>
			<!-- HEADER -->
			
			<!-- CONTENT -->
			<div style="display: block;padding: 28px;">
				<p style="color: #464646;font-family: 'Roboto', sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;margin: 0px 0px 22px 0px;">
					Cảm ơn bạn đã truy cập vào trang BONEVO và dùng địa chỉ mail <a style='color: #0099ff;text-decoration: none;' target='_blank' href='mailto:$mail'>$mail</a> để sử dụng các dịch vụ của chúng tôi.
				</p>
				<p style="color: #464646;font-family: 'Roboto', sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;margin: 0px;">
					Để xác thực địa chỉ email này đúng là của bạn và cũng để chúng tôi có thể gửi những thông tin, thông báo sau này đến hộp thư của bạn. Mời bạn vui lòng giúp chúng tôi hoàn tất quá trình đăng ký bằng cách nhấp chuột vào liên kết bên dưới:
				</p>
				
				<a href='$mailLinkConfirm' style='color: #0099ff;font-family: Roboto, sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;margin: 14px 0px 16px 0px;cursor: pointer;text-decoration: none;display: block;'>Nhấp chuột vào đây để hoàn tất đăng ký.</a>
				<p style="color: #464646;font-family: 'Roboto', sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;margin: 2px 0px;">
					Tài khoản BONEVO của bạn cần phải được xác thực, nếu bạn không xác thực trong vòng 24 giờ, chúng tôi sẽ hủy tài khoản này.
				</p>
				<p style="color: #464646;font-family: 'Roboto', sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;margin: 2px 0px;">
					$mailContent1
				</p>
				<p style="color: #464646;font-family: 'Roboto', sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;margin: 2px 0px;">
					Đội ngũ BONEVO.
				</p>
				<p style="color: #999999;font-family: 'Roboto', sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;font-style: italic;margin: 28px 0px 0px 0px">
					Tại sao bạn cần thực hiện thao tác này khi sử dụng BONEVO?
				</p>
				<p style="color: #999999;font-family: 'Roboto', sans-serif;font-size: 12px;line-height: 22px;font-weight: normal;font-style: italic;margin: 0px 0px 28px 0px">
					Nhầm đảm bảo Email này gửi đến đúng người và các thông tin tài khoản của bạn sẽ được bảo mật . Nếu bạn không xác thực ,email này sẽ không thể sử dụng trên BONEVO.
				</p>
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
</body>
</html>