body {
	background-image: url("../../images/card-bg.jpg") !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-color: initial !important;
	width: 100% !important;
	background-attachment: fixed !important;
	background-position: center top !important;
	z-index: -10;
}
.button-wrapper{
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.button-wrapper button{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.35);
    cursor: pointer;
	border: none;
    font-size: 20px;    
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0%, #dadada 100%) repeat scroll 0 0;
    border-radius: 30px;
    color: #6d6d6d;
    display: block;
    font-family:HelveticaNeue;font-weight:300;
    height: 50px;
    line-height: 50px;
    margin: 20px auto;
    text-decoration: none;
    width: 260px;
    padding-top: 0px;
}
.data_evotemplate .item img {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}

.data_evotemplate {
	display: none;
	margin: auto;
	opacity: 1;
	width: 310px;
	margin-top: 50px;
}
.data_evotemplate .owl-wrapper-outer{outline: 10px solid #fff;position: relative;}
.data_evotemplate{position: relative;}
.data_evotemplate:before, .data_evotemplate:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 30px 4px rgba(0, 0, 0, 0.35);display:block;
  transform: rotate(-3deg);
}
.data_evotemplate:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.data_title {
	font-family: roboto-regular;
	height: 30px;
	margin: auto auto 10px;
	padding-top: 25px;
	text-align: center;
	width: auto;
	color: white;
	font-size: 18px;
}

#qb-dlg-card-info .card-content{border: none;background: transparent;color: #3e3d3d;
	border-radius: 5px;
	float: left;
	font-size: 16px;
	height: 99px;
	resize: none;
	width: 100%;font-family:HelveticaNeue;font-weight:300;
}

#qb-dlg-card-info .img-align {
	float: left;
	display: none;
}

#qb-dlg-card-info .img-align span {
	float: left;margin: 0px 0px 0px 12px;cursor: pointer;
}

#qb-dlg-card-info .img-align img {
	padding: 0 3px;height: 20px;margin-top: 7px;
}

#qb-dlg-card-info .panel-img-card-preview {
	background-size: cover;
	display: none;
	float: none;
	height: 300px;
	margin: 56px auto;
	overflow: hidden;
	position: relative;
	width: 170px;
}

#qb-dlg-card-info .panel-img-card-preview>img {
	height: 100%;
	position: absolute;
	right: -40%;
}

#qb-dlg-card-info .card-content-tip {text-align: right;padding-top: 6px;font-family:HelveticaNeue;font-weight:300;
	float: left;color:#3e3d3d;
	font-size: 12px;
	width: 100%;
}

#qb-dlg-card-info .btn-upload-img-card {
	background: #fff;
	border: medium none;
	border-radius: 20px;
	color: #3e3d3d;
	float: left;
	font-size: 12px;
	margin-left: 18px;
	padding: 0px 16px;box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.35);height: 34px;
}
#qb-dlg-card-info .btn-upload-img-card i{font-size: 16px;}
#qb-dlg-card-info .btn-rotate-img-card {
	background: #fff;box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.35);
	border: medium none;
	border-radius: 20px;
	display: none;
	color: #3e3d3d;
	float: left;
	font-size: 12px;
	margin-left: 18px;
	padding: 0px 16px;height: 34px;
}
#qb-dlg-card-info .btn-rotate-img-card i{font-size: 16px;}
.qb-dig-tools-edit .group-btn-card{border: none;margin-bottom: 23px;}
.qb-dig-tools-edit .group-btn-card .btn-done-create-card{background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #26a3e5 0%, #066eb7 100%) repeat scroll 0 0;color: #fff;margin-right: 20px;border-radius: 34px;height: 34px;font-family:HelveticaNeue;font-weight:300;}

.owl-pagination{display: none;}
.owl-theme .owl-controls .owl-buttons div{color: #333;opacity: 1;position: absolute;top: calc(50% - 40px);font-size: 0px;height: 55px;line-height: 30px;position: absolute;text-align: center;width: 56px;margin: 0px;padding: 0px;}
.owl-theme .owl-controls .owl-buttons .owl-prev{border-radius: 45px 0px 0px 45px;left: -41px;background: #fff url("../../images/arrow-left.jpg") no-repeat scroll center center;}
.owl-theme .owl-controls .owl-buttons .owl-next{border-radius: 0px 45px 45px 0px;right: -41px;background: #fff url("../../images/arrow.jpg") no-repeat scroll center center;}
.qb-dig-tools-edit .form-group-card{padding: 9px;}
.qb-dig-tools-edit .form-group-card .form-group-content{background: #e3e3e3;float: left;width: 100%;border-radius: 12px;padding: 8px;}

@media ( max-width : 500px) {
	.ui-dialog {
		width: 100% !important;
		top: 0 !important;
		border-radius: 0px !important;
		position: absolute !important;
	}
}