@CHARSET "UTF-8";

.anchor-option-panel {}
.anchor-option-panel .anchor-component {float: left; padding: 20px 35px; position: relative; width: 100%;}
.anchor-option-panel .ip-anchor-bg{background: #e6e6e6}
.anchor-option-panel .anchor-component-text {float: left; width: 100%; font-family: sans-serif;}
.anchor-option-panel .anchor-component-text-content {margin: 0 auto; width: 100%; padding: 15px 35px 0 35px;}
.anchor-option-panel .anchor-component-text-content span{font-size: 14px; font-weight: bold;}
.anchor-option-panel .anchor-component-text-content .anchor-name-rule::before{border-radius: 50%; content: ""; display: inline-block; box-sizing: border-box; height: 10px; width: 10px; background-color: #c6ccd4; margin-right: 10px;}
.anchor-option-panel .anchor-component-text-content .anchor-name-rule.anchor-name-error::before{background-color: #e43e4f !important;}
.anchor-option-panel .anchor-component-text-content .anchor-name-rule.anchor-name-right::before{background-color: #11b564 !important;}
.anchor-option-panel .anchor-component-text-content ul{list-style: none; padding: 0px 0; font-size: 13px; line-height: 25px;}
.anchor-option-panel .anchor-text {margin: 0 auto;padding: 5px 35px 5px 5px;width: 100%;border: 1px solid #ccc;border-radius: 4px;}
.anchor-option-panel .anchor-name-check {position: absolute; right: 5px;top: 25px;}
.anchor-option-panel .anchor-name-check i {font-size: 25px; display: none; }
.anchor-option-panel .anchor-name-check .anchor-name-wrong {color: red; }
.anchor-option-panel .anchor-name-check .anchor-name-right {color: green; }
.anchor-option-panel .anchor-component button {background: #0099ff none repeat scroll 0 0; border: medium none; color: #fff; display: table-cell; font-family: Roboto-Regular; font-size: 14px; height: 40px; padding: 0 20px; vertical-align: middle; float: right; }
.anchor-option-panel .anchor-component button img {display: inline-block; margin-right: 8px; width: 16px; }
.anchor-option-panel .bottom-menu {border-top: 1px solid #d9e1e8; padding: 0; margin: 0; width: 100%; }
/* .anchor-name-error {color: red; } */
}