#qb-edit-text-option .form-group .font-edit-text .dropdown-toggle,
	#qb-edit-text-option .form-group .font-type-edit-text .dropdown-toggle
	{
	height: 24px;
	padding: 0 10px;
	font-size: 13px;
}

#qb-edit-text-option .form-group .font-edit-text .dropdown-toggle {
	width: 130px;
}

#qb-edit-text-option .form-group .font-edit-text .dropdown-toggle .dd-tt
	{
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	text-transform: capitalize;
}

#qb-edit-text-option .form-group .font-edit-text .dropdown-toggle .caret
	{
	margin-top: -7px;
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item {
	padding: 10px;
	width: 100%;
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-content>div,
	#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-text-align-content .edit-text-align,
	#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-text-decoration-content .edit-text-decoration,
	#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-text-transform-content .edit-text-transform
	{
	display: inline-block;
	cursor: pointer;
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-text-decoration-content .edit-text-decoration
	{
	margin-right: 10px;
	font-size: 1.2em
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-text-decoration-content .edit-text-decoration p
	{
	margin-bottom: 0;
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-content .font-size-edit-textZ input[type="number"],
	#qb-edit-text-option .form-group .form-group-content .edit-text-item .distance-edit-textZ input[type="number"]
	{
	height: 24px;
	width: 40px;
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-content .color-edit-text
	{
	background: black none repeat scroll 0 0;
	height: 24px;
	position: relative;
	top: 0;
	width: 40px;
	border: 1px solid black;
}

#qb-edit-text-option .form-group .font-edit-text .dropdown-menu {
	overflow: auto;
	height: 100px;
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item .item-text-align-content .edit-text-align i
	{
	font-size: 1.2em;
	cursor: pointer;
}

#qb-edit-text-option .form-group-content label {
	float: none;
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

#qb-edit-text-option .form-group-content div {
	display: inline-block;
	vertical-align: middle;
}

#qb-edit-text-option .active {
	color: #0088CC;
}

#qb-edit-text-option .form-group .form-group-content .edit-text-item.choice-rowtextarea .item-text-choice-row input
	{
	width: 60px;
	height: 25px;
}